{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
News of {{ category.slug }}
{% endblock title %}

{% block content %}
<h1>{{ category.name }}</h1>
<p>Всего постов: {{ news_by_categories | length}}</p>
<div>
    {% if is_not_login %}
        <a class="btn btn-outline-dark mt-auto" href="accounts/login">Войти в учетную запись</a>
    {% else %}
        <a class="btn btn-outline-dark mt-auto" href="accounts/logout">Выйти из учетной записи</a>
        {% if not subscribed %}
            <a class="btn btn-outline-dark mt-auto" href="{% url 'become_subscriber' category.slug %}" >Подписаться на категорию</a>
        {% else %}
            <a class="btn btn-outline-dark mt-auto" href="{% url 'delete_subscription' category.slug %}" >Отменить подписку на категорию</a>
        {% endif %}
        {% if is_not_author %}
            <a class="btn btn-outline-dark mt-auto" href="become-author">Стать автором</a>
        {% endif %}
    {% endif %}
</div>
<div>
    <a class="btn btn-outline-dark mt-auto" href="{% url 'post_add' %}">Создать пост</a>
</div>
{% for post in news_by_categories %}
<br>
<p>{{ post.date | date:'d M Y' }}</p>
<h3>{{ post.title | censure:'***' }}</h3>
<p>{{ post.text | truncatewords:20 | censure:'***' }} <a href="{% url 'post_detail' post.id %}">Читать</a></p>
<hr>
{% endfor %}

{% if is_paginated %}
    <p>

    {% if page_obj.has_previous %}
        <a href="?page=1">Начало</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Конец</a>
    {% endif %}
    </p>
{% endif %}
{% endblock content %}